@charset "utf-8";
/* CSS Document */
body {
  background: linear-gradient(135deg, #041526, #093145); /* Gradient background */
  overflow: hidden;
  color: white;
}

canvas {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  mix-blend-mode: noise; /* Blend mode for an interesting effect */
}
